<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spotify Runners</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
  </head>
  <body>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1>Spotify Runners</h1>
        <p class="p-2">We make it easy to play your favorite music to keep you going on your run, without distracting you or throwing you off your pace. To get started, just enter a desired BPM and click the button below, and we'll create a playlist of your favorite songs that match it.</p>
        <div style="border-radius: 10px; width: 300px; height: 380px; overflow: hidden;"> 
            <iframe src="{{ embed_link }}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div> 
        <button type="button" class="btn btn-primary btn-lg btn-green mb-5" onclick="window.location.href='/'">Make Another Playlist</button>
    </div>
  </body>
</html>
