@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
}

.text-align {
    
    text-align: center;
}

.btn-green {
    background-color: #1DB954;
}
